# Explore BL Sessions Data

Here we introduce some useful DataJoint tools to explore the bl19 pipeline

First thing first, import datajoint

In [1]:
from scripts.conf_file_finding import try_find_conf_file
try_find_conf_file()

Local configuration file found !!, no need to run the configuration (unless configuration has changed)

In [2]:
import datajoint as dj
import utility.blob_transformation as bt
import numpy as np
import pylab as plt
import matplotlib.patches as mpatches
from matplotlib import cm
import os
import pickle

import pandas as pd

In [3]:
dj.conn(host='bdata00.pni.princeton.edu',reset=True)

Connecting alvaros@bdata00.pni.princeton.edu:3306

DataJoint connection (connected) alvaros@bdata00.pni.princeton.edu:3306

In [4]:
bdata = dj.create_virtual_module('bdata', 'bdata')

In [5]:
mouse_key = {'ratname': 'R622'}
df_agg_data = pd.DataFrame((bdata.SessionAggDate & mouse_key).fetch(as_dict=True))
df_agg_data

,session_agg_date_id,ratname,sessiondate,num_sessions,n_done_trials,hostname,starttime,endtime,total_correct,percent_violations,right_correct,left_correct,mass,percent_target,volume,num_water,totalvol,num_rigwater
0,842469,R622,2023-07-26,1,58,Rig403,0 days 07:31:11,0 days 08:31:54,0.80,0.74,0.00,0.80,22,5.000,0.000,1.0,0.54000,1
1,842569,R622,2023-07-27,1,57,Rig403,0 days 08:14:50,0 days 09:15:42,0.99,0.77,0.99,0.00,21,None,None,NaN,0.50640,1
2,842671,R622,2023-07-28,1,57,Rig403,0 days 08:17:04,0 days 09:17:33,0.83,0.68,0.00,0.83,20,None,None,NaN,0.53400,1
3,842788,R622,2023-07-29,1,62,Rig403,0 days 06:09:42,0 days 07:14:58,0.99,0.81,0.99,0.00,20,None,None,NaN,0.39000,1
4,842903,R622,2023-07-30,1,60,Rig403,0 days 09:56:26,0 days 10:59:08,0.82,0.72,0.00,0.82,20,5.000,0.009,1.0,0.46600,1
5,843012,R622,2023-07-31,1,63,Rig403,0 days 09:18:31,0 days 10:22:32,0.71,0.51,0.71,0.00,21,5.000,0.267,1.0,0.67400,1
6,843124,R622,2023-08-01,1,61,Rig403,0 days 08:46:25,0 days 09:48:35,0.87,0.49,0.00,0.87,21,5.000,0.333,1.0,0.68600,1
7,843234,R622,2023-08-02,1,63,Rig403,0 days 07:22:05,0 days 08:23:03,0.92,0.40,0.92,0.99,21,5.000,0.201,1.0,0.81400,1
8,843351,R622,2023-08-03,1,63,Rig403,0 days 06:29:01,0 days 07:33:39,0.80,0.37,0.00,0.80,21,5.000,0.147,1.0,0.86600,1
9,843464,R622,2023-08-04,1,70,Rig403,0 days 08:01:05,0 days 09:03:50,0.85,0.14,0.56,0.90,21,5.000,0.000,1.0,1.16800,1
10,843576,R622,2023-08-12,1,131,Rig403,0 days 09:49:46,0 days 10:54:51,0.70,0.24,0.47,0.90,20,0.000,0.000,1.0,1.36680,1
11,843678,R622,2023-08-13,1,125,Rig403,0 days 10:32:58,0 days 11:33:29,0.77,0.14,0.63,0.88,21,0.000,0.000,1.0,1.26980,1

In [6]:
#file = open('session_agg_date_R622s.pickle', 'wb')

# dump information to that file
#pickle.dump(df_agg_data, file)
#file.close

In [7]:
os.chdir('./notebooks/')
os.chdir('./tutorials/')

In [12]:
file2 = open('session_agg_date_R622.pickle', 'rb')

In [13]:
r622_agg_date_data = pickle.load(file2)

In [14]:
r622_agg_date_data

,session_agg_date_id,ratname,sessiondate,num_sessions,n_done_trials,hostname,starttime,endtime,total_correct,percent_violations,right_correct,left_correct,mass,percent_target,volume,num_water,totalvol,num_rigwater
0,842469,R622,2023-07-26,1,58,Rig403,0 days 07:31:11,0 days 08:31:54,0.80,0.74,0.00,0.80,22,5.000,0.000,1.0,0.54000,1
1,842569,R622,2023-07-27,1,57,Rig403,0 days 08:14:50,0 days 09:15:42,0.99,0.77,0.99,0.00,21,None,None,NaN,0.50640,1
2,842671,R622,2023-07-28,1,57,Rig403,0 days 08:17:04,0 days 09:17:33,0.83,0.68,0.00,0.83,20,None,None,NaN,0.53400,1
3,842788,R622,2023-07-29,1,62,Rig403,0 days 06:09:42,0 days 07:14:58,0.99,0.81,0.99,0.00,20,None,None,NaN,0.39000,1
4,842903,R622,2023-07-30,1,60,Rig403,0 days 09:56:26,0 days 10:59:08,0.82,0.72,0.00,0.82,20,5.000,0.009,1.0,0.46600,1
5,843012,R622,2023-07-31,1,63,Rig403,0 days 09:18:31,0 days 10:22:32,0.71,0.51,0.71,0.00,21,5.000,0.267,1.0,0.67400,1
6,843124,R622,2023-08-01,1,61,Rig403,0 days 08:46:25,0 days 09:48:35,0.87,0.49,0.00,0.87,21,5.000,0.333,1.0,0.68600,1
7,843234,R622,2023-08-02,1,63,Rig403,0 days 07:22:05,0 days 08:23:03,0.92,0.40,0.92,0.99,21,5.000,0.201,1.0,0.81400,1
8,843351,R622,2023-08-03,1,63,Rig403,0 days 06:29:01,0 days 07:33:39,0.80,0.37,0.00,0.80,21,5.000,0.147,1.0,0.86600,1
9,843464,R622,2023-08-04,1,70,Rig403,0 days 08:01:05,0 days 09:03:50,0.85,0.14,0.56,0.90,21,5.000,0.000,1.0,1.16800,1
10,843576,R622,2023-08-12,1,131,Rig403,0 days 09:49:46,0 days 10:54:51,0.70,0.24,0.47,0.90,20,0.000,0.000,1.0,1.36680,1
11,843678,R622,2023-08-13,1,125,Rig403,0 days 10:32:58,0 days 11:33:29,0.77,0.14,0.63,0.88,21,0.000,0.000,1.0,1.26980,1