# Explore BL Sessions Data

Here we introduce some useful DataJoint tools to explore the bl19 pipeline

First thing first, import datajoint

In [1]:
from scripts.conf_file_finding import try_find_conf_file
try_find_conf_file()

Local configuration file found !!, no need to run the configuration (unless configuration has changed)

In [2]:
import datajoint as dj
import utility.blob_transformation as bt
import numpy as np
import pylab as plt
import matplotlib.patches as mpatches
from matplotlib import cm

import pandas as pd

In [3]:
dj.blob.use_32bit_dims = True

## Get handle to DBs

lab         =  researchers & rig DB <br />
subject     =  rats DB <br />
acquisition =  sessions DB

In [4]:
bdata = dj.create_virtual_module('bdatatest', 'bdatatest')
session_key = {'sessid': 822635}
session_data = (bdata.Sessions & session_key).fetch('protocol_data', as_dict=True)
parsed_events = (bdata.ParsedEvents & session_key).fetch(as_dict=True)

[2022-08-17 10:44:28,801][INFO]: Connecting alvaros@datajoint01.pni.princeton.edu:3306
[2022-08-17 10:44:29,101][INFO]: Connected alvaros@datajoint01.pni.princeton.edu:3306

In [5]:
protocol_data_python = bt.transform_blob(session_data[0]['protocol_data'])
df_protocol_data = pd.DataFrame(protocol_data_python)
df_protocol_data

                                  hits    sides    tasks     stage
0  [nan, 1.0, 1.0, 0.0, 1.0, 0.0, nan]  llllrrl  ddddddd  Stage 10

In [6]:
peh = bt.transform_blob(parsed_events[0]['peh'])
df_peh = pd.DataFrame(peh)
df_peh

,pokes,waves,states
0,"{'C': [[1005.2353039999999, 1005.2579039999999...","{'direct_reward': [], 'stimulatorwave': [1005....","{'state_0': [[nan, 883.515104], [1008.358804, ..."
1,"{'C': [1010.399115, 1012.049215], 'L': [[1008....","{'direct_reward': [1012.223015, 1012.327515], ...","{'state_0': [[nan, 1008.359015], [1012.828215,..."
2,"{'C': [1015.987304, 1017.469004], 'L': [[1017....","{'direct_reward': [1017.671604, 1017.776204], ...","{'state_0': [[nan, 1013.765804], [1018.2769040..."
3,"{'C': [1020.607404, 1022.716804], 'L': [], 'R'...","{'direct_reward': [], 'stimulatorwave': [1021....","{'state_0': [[nan, 1019.300804], [1026.878104,..."
4,"{'C': [[1027.853115, 1027.8705149999998], [102...","{'direct_reward': [1030.669915, 1030.799014999...","{'state_0': [[nan, 1026.878315], [1031.2997149..."
5,"{'C': [[1033.070804, 1033.0829039999999], [103...","{'direct_reward': [], 'stimulatorwave': [1033....","{'state_0': [[nan, 1031.845504], [1039.5069039..."